<div class="function-bar">
  <div class="preivew" routerLink="preview">
    <p class="tag-icon"><i class="fas fa-home"></i></p>
    <p class="tag">Tổng quan</p>
  </div>
  <div class="pay" routerLink="pay">
    <p class="tag-icon"><i class="fas fa-search-dollar"></i></p>
    <p class="tag">Giao dịch</p>
  </div>
  <div class="plan" routerLink="plan">
    <p class="tag-icon"><i class="fas fa-paper-plane"></i></p>
    <p class="tag">Kế Hoạch</p>
  </div>
  <div class="wallet" routerLink="wallet">
    <p class="tag-icon"><i class="fas fa-wallet"></i></p>
    <p class="tag">Tài Khoản</p>
  </div>
</div>
